* {
    font-family: 'Roboto', sans-serif;
}

.header, .footer {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.call-container {
    background-color: #3882F6;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

#header-links, #hero-subtext {
    font-size: 18px;
    color: #E5E7EB
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}