* {
    font-family: 'Roboto', sans-serif;
    transition: .3s;
    margin: 0px;
}

body {
    margin: 0px
}

.header, .footer, .hero {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.call-container {
    background-color: #3882F6;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

#header-links, #hero-subtext, #footer-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

#hero-maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-bottom: 0px;
    height: fit-content;
}

button {
    width: fit-content;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 32px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #3882F6;
    display: block;
    margin-top: 16px;
}

button:hover {
    background-color: white;
    color:#3882F6;
}

.call button {
   border-color: #F9FAF8;
}

.call button :hover {
    background-color: white;
    color:#3882F6;
}

.info h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.img-list p {
    color: rgb(93, 93, 93);
}

.img-list img {
padding: 75px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

#img-placeholder {
    /* width: 450px; */
    height: 200px;
    color: white;
    background-color: gray;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.info, .call {
    background-color: #F9FAF8;
}

.header {
    display: flex;
    padding: 30px 300px;
}

#header-links {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.hero {
    display: flex;
    padding: 100px 300px;
    gap: 128px;
    justify-content: space-around;
}

.hero-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-content-wrapper, #img-placeholder {
    flex: 1;
}

.call-container :nth-child(1) {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.call-container div :nth-child(2) {
    color: #dfdfdf;
    font-size: 16px;
    font-weight: normal;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.info h3 {
    margin: 50px;
}

.img-list {
    flex-grow: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 64px;
}

.img-list div {
    flex-basis: 158px;
}

.quote {
    padding: 100px 400px;
}

.call {
    padding: 75px 400px;
}

.call-container {
    padding: 50px;
    border-radius: 18px;
    display: flex;
    align-items: center;
}

.call-container :nth-child(1) {
    margin-right: auto;
}

.footer {
    text-align: center;
    padding: 30px
}